<h1>Currency pairs</h1>

<ul>
  <% @symbols.each do |symbol| %>
    <% country = symbol.at(0) %>
    <li>
      <a href="/<%= country %>"><%= "Convert 1 #{country} to..." %></a>
    </li>
  <% end %>
</ul>
